<<<<<<< HEAD
﻿


=======
﻿<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background: url('../../images/GreyHeadphones.jpg') no-repeat center center fixed;
            background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>
    <h1 style="color:beige"><b>We are Clear Audio!</b></h1>
    <br />
    <p style="color:beige">Clear Audio was founded in Detroit, MI in 2019. Our mission is to solve communucation issues and deliver exceptional solutions for breaking that communication barrier. Clear Audio values each and every person that visits our application and we want to ensure that we meet your standards and exceed your expectations. We want to continue to improve our service and product in every way to meet our visitors needs.   <br />Thank you for visiting our website! We hope that our product has suffciently met your needs and that we helped you break down the communication barrier in your life!</p>
    <br />
</body>
</html>
>>>>>>> 59b8028fe9cfe9b4f5da9726727632606181d706
