<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background: url('../../images/GreyHeadphones.jpg') no-repeat center center fixed;
            background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>
            
            <h2 style="color:beige">Sorry this language is not avaliable </h2>

            <div class="col-lg-2">
                <button type="button" value="Save" class="btn-lg" onclick="location.href='@Url.Action("Index")'">"Home"</button>
            </div>
    <br />
</body>
</html>