@model TextToSpeech.Models.Post

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background: url('../../images/GreyHeadphones.jpg') no-repeat center center fixed;
            background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="btn-group">
        <h1 style="color:beige"><b>Welcome to Clear Audio!</b></h1>
        <br />
        <p style="color:beige">Please select one of our four offered languages and have any entered text converted to an audio file. <br />When the desired text has been entered press the enter button on the screen, this will allow you to listen to the text that was entered in to the text box.</p>
        <br />
        <div class="col-lg-3">
            <button type="submit" value="English" class="btn-lg" onclick="location.href='@Url.Action("English", "Home")'">English</button>
        </div>

        <div class="col-lg-3">
            <button type="submit" value="French" class="btn-lg" onclick="location.href='@Url.Action("French", "Home")'">French</button>
        </div>

        <div class="col-lg-3">
            <button type="submit" value="German" class="btn-lg" onclick="location.href='@Url.Action("German", "Home")'">Deustch</button>
        </div>

        <div class="col-lg-3">
            <button type="submit" value="Spanish" class="btn-lg" onclick="location.href='@Url.Action("Spanish", "Home")'">Espanol</button>
        </div>
    </div>
</body>
</html>
