<br />

<form action="/Home/AudioSave" method="post">
    <fieldset>
        <legend><b>Hello! Please Login:</b></legend>
        <input type="Email" name="Email" placeholder="example@example.com" required class="form-control" /><br />
        <input type="password" name="password" placeholder="password" required class="form-control" /><br />
        <input type="submit" name="Login User" class="btn-lg" />
    </fieldset>
</form>

